.my-projects {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-top: 3rem;
    gap: 2.3rem;
    max-width: 1200px;
}

@media (max-width: 768px) {
  .cards-projects {
    gap: 1.5rem;
    padding: 0 1rem;
  }

  .card-project {
    max-width: 100%;
  }

  .project-btn {
    flex-direction: column;
  }
}
