.my-skills {
    margin-top: 4rem;
}

.text-description {
    color: #9CA3AF;
    text-align: center;
    margin-top: 2rem;
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
    margin-top: 4rem;
    max-width: 1100px;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}