.my-skills {
    margin-top: 4rem;
}

.text-description {
    color: #9CA3AF;
    text-align: center;
    margin-top: 2rem;
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
    margin-top: 4rem;
    max-width: 1100px;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
