.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.about-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2.8rem;
    margin-top: 4rem;
    margin-bottom: 5rem;

}

.profile-card {
    width: 450px;
    height: 600px;
    border-radius: 20px;
    background: #0f1115;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 15px #22D3EE33, 0 0 25px #A855F744;
    }

    100% {
        box-shadow: 0 0 35px #22D3EE55, 0 0 55px #A855F777;
    }
}

.profile-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.about-informations {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-description {
    max-width: 650px;
    background-color: #202328;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 8px;
    transition: border 0.5s ease, transform 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.08)
}

.about-cards {
    display: flex;
    max-width: 500px;
    gap: 1.3rem;
}

.about-description:hover {
    border: 1px solid transparent;
    transform: scale(1) translateY(-6px);
    border-image: linear-gradient(90deg, #22D3EE, #A855F7) 1;
}

.about-description p {
    color: #A1A8B3;
    font-weight: 400;
    font-size: 14px;
}

.description-span {
    color: #22D3EE;
    font-weight: 600;
}

.marker-aws {
    color: #FF9900;
}

.marker-terraform {
    color: #623CE4;
}

.marker-git {
    color: #F1502F;
}

.marker-docker {
    color: #2496ED;
}

.marker-pipelines {
    color: #fff;
}

.marker-react,
.marker-typescript {
    color: #22D3EE;
    font-weight: bold;
}

.marker-devops {
    font-weight: bold;
    color: #fff;
}

@media (max-width: 1024px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .profile-card {
    width: 320px;
    height: 420px;
  }

  .about-description {
    max-width: 100%;
  }

  .about-cards {
    max-width: 100%;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .about-cards {
    flex-direction: column;
  }

  .about-description p {
    font-size: 13px;
  }
}
