.footer {
    margin-top: 4rem;
    padding: 2rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-text {
    color: #9AA0AA;
    font-size: 14px;
    margin-left: 100px;
}

@media (max-width: 768px) {
  .footer-text {
    margin-left: 0;
    text-align: center;
  }
}
