.my-experience {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline {
    margin-top: 3rem;
    position: relative;
    padding-left: 40px;
    margin-bottom: 2rem;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom,
            #22d3ee,
            #8b5cf6);
    opacity: 0.8;
}

.timeline-dot {
    position: absolute;
    left: 5px;
    top: 32px;
    width: 12px;
    height: 12px;
    background-color: #22d3ee;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(34, 211, 238, 0.8);
}

@media (max-width: 768px) {

    .my-experience {
        align-items: center;
        text-align: center;
    }

    .timeline {
        padding-left: 20px;
    }

    .experience-content-titles {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.6rem;
    }

    .card-experience-container {
        padding: 1.5rem;
    }
}