* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #080A0F
}